/*

November Template

http://www.templatemo.com/tm-473-november

*/

@media only screen and (min-width: 769px) and (max-width: 10000px) {
	#mobile_sec .menumobile { display: block!important; }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

	header { width: 100%; }
	header .Center { width: 100%; padding: 0px 2%;  }
	header .site-logo { padding: 18px 0 0 1px; }
	header.smaller .site-logo { padding: 11px 0 0; }
	
	.Navigation { margin-right: 0px; }
	.Navigation li a { padding: 30px 36px; }
	header.smaller .Navigation li a { padding: 16px 36px; }

	
	.Banner_sec { width: 100%; height: 524px; }
	.Banner_sec .Center {width: 100%; padding: 0px 2%; }
	.Banner_sec .bannerside { top: 144px; }
	.Banner_sec .leftside h3 { font-size: 32px; }
	.Banner_sec .rightside { width: 66%; }
	.Banner_sec .rightside .Slider { width: 100%; }
	.Banner_sec .rightside .Slider .text { padding: 25px 10px 21px 10px; }
	.Banner_sec .rightside .Slider .text .Icon { width: 45%; }
	.Banner_sec .rightside .Slider .text .Lorem { width: 40%; }
	.Banner_sec .rightside .Shadow { width: 105%; }
	.Banner_sec .rightside .prevBtn { top: 160px; }
	.Banner_sec .rightside .nextBtn { top: 160px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	header { width: 100%; height: 87px; }
	header .Center { width: 100%; padding: 0px 2%; }
	header .site-logo { padding: 27px 0 0 1px;  position: relative; z-index: 1; }
	header .site-logo h1 { line-height: 33px; }	
	header.smaller .Navigation li a { padding: 16px 20px; }

	.Navigation {  margin-right: 0px; }
	.Navigation li a { padding: 30px 20px; }

	.Banner_sec {height: 939px;}
	.Banner_sec .Center {max-width: 1100px; margin: auto; flex-wrap: wrap;}
	.Banner_sec .Center .rightside {width: 90%; margin: auto; flex-wrap: wrap; margin-left: 5%;}
	.Banner_sec .rightside .Shadow {position: absolute; bottom: -5px; left: -16px; width: 105%;}

	.Suppliers {height: 1000px;}
	.Suppliers .Center {max-width: 1100px; margin: auto; flex-wrap: wrap;}
	.Suppliers .Center .rightside {width: 50%; margin: auto; flex-wrap: wrap;}
	.Suppliers .rightside .Shadow {position: absolute; bottom: -3px; left: -18px;}

	.Contact_sec .Mid { display: flex; flex-direction: column;}
	.Contact_sec .Leftside { margin: auto; width: 80%;}
	.Contact_sec .Rightside { margin: auto; width: 80%;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	header { width: 100%; position: absolute; height: 57px;}
	header .Center { width: 100%;  }
	header .site-logo { width: 20%; padding: 2%; position: relative; z-index: 1; }
	header .site-logo h1 { margin: 0px; line-height: 36px; }
	header.smaller { height: 55px;}
	header.smaller .site-logo { width: 20%; padding: 2%; }
	header.smaller .site-logo h1 a { font-size: 36px; }

	#mobile_sec { position: fixed; width: 100%; }
	#mobile_sec .mobile { display: block; position: relative; float: right;}
	#mobile_sec .menumobile { display: none; width: 100%; position: absolute; top: 55px; right: 0%; background: rgba(0, 0, 0, 0.5);  }
	#mobile_sec .menumobile .Navigation { width: 100%; float: none; }
	#mobile_sec .menumobile .Navigation ul { float: none;}
	#mobile_sec .menumobile .Navigation li { float: none; width: 100%; border-bottom: solid 1px #365374; }
	#mobile_sec .menumobile .Navigation li a { padding: 10px 21px; background: none; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li:last-child { border-bottom: none; }
	
	.Banner_sec {height: 939px;}
	.Banner_sec .Center {max-width: 1100px; margin: auto; flex-wrap: wrap;}
	.Banner_sec .Center .rightside {width: 90%; margin: auto; flex-wrap: wrap; margin-left: 5%;}
	.Banner_sec .rightside .Shadow {position: absolute; bottom: -5px; left: -16px; width: 105%;}

	.Suppliers {height: 1000px;}
	.Suppliers .Center {max-width: 1100px; margin: auto; flex-wrap: wrap;}
	.Suppliers .Center .rightside {width: 50%; margin: auto; flex-wrap: wrap;}
	.Suppliers .rightside .Shadow {position: absolute; bottom: -3px; left: -18px;}

	.Contact_sec .Mid { display: flex; flex-direction: column;}
	.Contact_sec .Leftside { margin: auto; width: 80%;}
	.Contact_sec .Rightside { margin: auto; width: 80%;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


	header { width: 100%; position: absolute; height: 57px; }
	header .Center { width: 100%;}
	header .site-logo { padding: 10px 0% 0px 3%; position: relative; z-index: 1; }
	header .site-logo h1 { margin: 0px; line-height: 36px; }
	header.smaller { height: 55px;}
	header.smaller .site-logo { padding: 10px 0% 0px 3%; }
	header.smaller .site-logo h1 a { font-size: 36px; }
	
	#mobile_sec { position: fixed; width: 100%;}
	#mobile_sec .mobile { display: block; position: relative; float: right; }
	#mobile_sec .menumobile { display: none; width: 100%; position: absolute; top: 55px; right: 0%; background: rgba(0, 0, 0, 0.5);  }
	#mobile_sec .menumobile .Navigation { width: 100%; float: none; }
	#mobile_sec .menumobile .Navigation ul { float: none;}
	#mobile_sec .menumobile .Navigation li { float: none; width: 100%; border-bottom: solid 1px #365374; }
	#mobile_sec .menumobile .Navigation li a { padding: 10px; background: none; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li a:hover, #mobile_sec .menumobile .Navigation li a.active { background: #ff9000; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li:last-child { border-bottom: none; }


	.Banner_sec {height: 939px;}
	.Banner_sec .Center {max-width: 1100px; margin: auto; flex-wrap: wrap;}
	.Banner_sec .Center .rightside {width: 90%; margin: auto; flex-wrap: wrap; margin-left: 5%;}
	.Banner_sec .rightside .Shadow {position: absolute; bottom: -5px; left: -16px; width: 105%;}

	.Suppliers {height: 1000px;}
	.Suppliers .Center {max-width: 1100px; margin: auto; flex-wrap: wrap;}
	.Suppliers .Center .rightside {width: 50%; margin: auto; flex-wrap: wrap;}
	.Suppliers .rightside .Shadow {position: absolute; bottom: -3px; left: -18px;}

	.Contact_sec .Mid { display: flex; flex-direction: column;}
	.Contact_sec .Leftside { margin: auto; width: 80%;}
	.Contact_sec .Rightside { margin: auto; width: 80%;}
}

@media only screen and (max-width: 1199px) {
	
	header,
	.Navigation li,
	.Navigation li:hover span, 
	.Navigation li.active span { 
		height: 87px; }
	header.smaller .Navigation li:hover span,
	header.smaller .Navigation li.active span {
		height: 60px;
	}
}
@media only screen and (max-width: 767px) {
	header { 
		height: 55px; 
		position: fixed;
	}
	.Navigation li {
		height: 45px;
	}
	header .site-logo {
		padding-top: 8px;
	}
	.Navigation li:hover span, .Navigation li.active span {
		height: 45px;
	}
	.Navigation li span {
		border-bottom: none;
		background: none;
	}
	#mobile_sec .menumobile .Navigation li:hover, 
	#mobile_sec .menumobile .Navigation li.active {
		background: #FF9000 none repeat scroll 0% 0%;
		border-bottom: medium none;
	}
	header.smaller .Navigation li {
		height: 45px;
	}
	.Banner_sec .leftside a {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
